
// scss 변수 : 지정범위 내에서 선언
// color =============================================
$color_white : #fff;
$color_gradient_bg :  linear-gradient( to bottom, rgb(255, 255, 255), #FEF0F0 );
$color_primary_01 : #FEF0F0;
$color_primary_02 : #FE8D7D;
$color_primary_03 : #FB7C6A;
$color_accent_01 :  #EDEEF6;
$color_accent_02 : #F6E9CE;
$color_accent_03 : #CDEDEB;
$color_pd_bg_04 : #F5D1D1;
$color_gray_01: #eee;
$color_gray_02: #ccc;
$color_gray_03: #aaa;
$color_gray_04: #777;
$color_deep_gray_01: #505050;
$color_black_01: #333333;
$color_black_02: #171717;




// font ===========================
$font_family_en:"Roboto", "Noto Sans KR";
$font_family_kr:"Noto Sans KR ", "sans-serif";
$font_family_common:sans-serif;
$font_weight_thin:100;
$font_weight_normal:400;
$font_weight_bold:700; 
$font_weight: (100, 400, 500, 700);
$font_size:(
  title2:48px,title3:36px,title4:28px,point1:24px,point2:20px,
  content1:22px, content2:18px, content3:16px, 
  button1:14px,  button2:12px, caption:10px);


// // line ==================================
// $line_01: 0.0625rem solid $color_gray_02;
// $line_02: 0.0625rem solid $color_gray_04;
// $line_03: 0.0625rem solid $color_black_02;
// $line_04: 0.0625rem solid $color_deep_gray_01;





// device size ================================
$mobile : 320px;
$tablet : 768px;
$laptop : 1200px;
$pc:1440px;
// $pcfull : 1920px;










//dic(map)
$psuedoCode: (
  "hover": $color_primary_01
  ); // dic(map)

// -------------------------