.container {
  display: grid;
  grid-template-rows: 340px 280px 280px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 20px;
  width: 60%;
  max-width: 1280px;
  height: 100%;
  margin: auto;
  padding-bottom: 100px;
}

.main-title {
  width: 60%;
  max-width: 1280px;
  margin: auto;
  height: auto;
  background-color: #fff;
  margin-bottom: 5px;
}

.main-title h3 {
  text-align: left;
  font-size: 30px;
}

.item:nth-child(1) {
  display: flex;
  grid-column: 1 / 4;
  background-color: #f00;
  & > div {
    width: 100%;
    background-color: #dff;
    &:first-child {
      width: 40%;
      background-color: #505;
    }
  }
}
.item dt {
  width: 100%;
  height: 240px;
  background-color: #fff;
}

.item:nth-child(2) {
  background-color: rgb(99, 54, 54);
}

.item:nth-child(3) {
  background-color: rgb(246, 221, 160);
}

.item:nth-child(4) {
  background-color: rgb(122, 200, 112);
}

.item:nth-child(5) {
  background-color: rgb(54, 59, 99);
}

.item:nth-child(6) {
  background-color: rgb(139, 124, 186);
}
.item:nth-child(7) {
  background-color: rgb(154, 186, 124);
}
